.page {
    height: 100vh;
    width: 100%;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    /* transition: transform 0.5s ease-in-out; */
}

.page-exit {
    position: fixed;
}
.page-enter {
    position: fixed;
    opacity: 0
    /* transform: translateX(100%); */
}

.page-enter-active {
    opacity: 1;
    /* transform: translateX(0); */
}

.page-exit-active {
    opacity: 0;
    /* transform: translateX(-100%); */
}